<!-- footer -->
<%
const staticPrefix = `${module}/vov/`;
%>
<footer class="dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="footer-info">
          © 2018. <a href="/">"Вспомнить каждого"</a>
          Документы военных комиссариатов Хабаровского края 1941-1946 гг.
        </p>
        <p class="footer-note">
          Информация ограниченного доступа, предусмотренная законодательством Российской Федерации,
          Федеральный закон от 26.06.2006 №152-ФЗ «О персональных данных» и  Федеральный закон
          от 22.10.2004 №125-ФЗ «Об Архивном деле в Российской Федерации»
        </p>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <a href="https://президентскиегранты.рф" class="footer-banner" target="_blank">
            <img src="<%= staticPrefix %>/images/footer-5.png" class="">
          </a>
          <a href="javasript:void(0)" class="footer-banner" target="_blank">
            <img src="<%= staticPrefix %>/images/footer-4.png" class="">
          </a>
          <a href="https://archive.khabkrai.ru/" class="footer-banner" target="_blank">
            <img src="<%= staticPrefix %>/images/footer-3.png" class="">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>