<!-- main/about -->
<%
const staticPrefix = `${module}/vov/`;
%>
<section id="about">
  <div class="container">
    <div class="about">
      <div class="page-header text-center">
        <h2>О ПРОЕКТЕ</h2>
        <div class="title-marker"></div>
      </div>
      <p>
        Великая Отечественная война стала очень серьезным испытанием для нашей страны и для нашего народа, большим
        потрясением, эхо которого слышится и сегодня.
      </p>
      <p>
        Сегодня большое количество усилий делается для того, чтобы сохранить и сделать доступными
        данные об этом периоде и помочь людям прояснить то, что в силу целей того времени не было приоритетным.
        Тогда надо было даже не с нуля выстроить жизнь целой страны, отсутствовали те технологи,
        что существуют в наше время, а занятие историей своей семьи было трудоёмким и иногда даже опасным делом.
      </p>
      <p>
        Большое значение для сохранения памяти о Второй Мировой войне имеют такие известные ресурсы, как
        <a href="https://obd-memorial.ru/html/" target="_blank">Обобщенный банк данных «Мемориал»</a>,
        <a href="https://pamyat-naroda.ru/" target="_blank">Память народа</a>,
        <a href="http://podvignaroda.ru/" target="_blank">Подвиг народа</a>.
        Объем цифровых копий документов, выложенных там в свободном доступе,
        исчисляется десятками миллионов.
      </p>
      <img src="<%= staticPrefix %>/images/about-1.jpg" class="img-responsive pull-left">
      <p>
        База данных «Вспомнить каждого» дополняет эти ресурсы, содержит ту информацию, которая в федеральные базы
        может не попасть, но выполняет одну важную задачу: дает возможность по крупицам восстановить истории людей.
      </p>
      <p>
      В Хабаровском крае сложилась отличная от большинства регионов Российской Федерации ситуация: в 2016 году
        военные передали в Государственный Архив Хабаровского края 249 томов документов, связанных с Великой
        Отечественной войной: списки призванных, репатриированных, погибших, мобилизованных в промышленность и т.д.
      </p>
      <p>
        <strong>Проект «Вспомнить каждого»</strong>, инициированный Автономной некоммерческой организацией
        «Дальневосточный центр социальных технологий» - это форма общественно-государственного сотрудничества,
        в которой общественность содействует тому, чтобы документы Хабаровского края, связанные
        с Великой Отечественной войной, стали доступнее людям. В рамках этого проекта добровольцами
        оцифровано 87 дел (более 10 тыс. страниц) и внесено в базу около 24500 записей по Аяно-Майскому,
        Бикинскому, Охотскому району, району им. П.Осипенко. Частично внесены данные по Советско-Гаванскому,
        Ульчскому, Верхнебуреинскому, Вяземскому районам, г.Амурску, району им. Лазо.
      </p>

      <img src="<%= staticPrefix %>/images/about-2.jpg" class="img-responsive pull-right">

      <p>
        С оцифрованными добровольцами и сотрудниками Государственного архива копиями дел можно ознакомиться
        в виртуальном читальном зале архива, но для максимально удобного и быстрого поиска служит эта база данных.
      </p>
      <p>
        На этом сайте Вы можете найти информацию о звании призванного, погибшего, части, в которой он служил,
        дате и причине смерти (убит, умер от ран, пропал без вести), месте захоронения и т.д. На сайте выложены
        цифровые копии обработанных документов-первоисточников, содержащих информацию о персоналиях.
      </p>
      <p>
        Большая ценность региональных архивов военных комиссариатов заключается в том, что они содержат информацию
        об участниках войны с момента призыва. Эти документы являются важными для изучения не только боевого пути,
        но иногда и человеческих судеб.
      </p>
      <p>
        Наши деды и прадеды отстояли право на мир, и теперь наша задача и задача будущих поколений – наполнять
        этот мир достойными смыслами.
      </p>
      <p>
        При создании базы данных <a href="/">vov.gahk.ru</a> мы прежде всего опирались
        на Федеральный закон от 27.07.2006 №152-ФЗ
        о <strong>«О персональных данных»</strong> и Федеральный закон от 22.10.2004 №125-ФЗ
        <strong>«Об Архивном деле в Российской Федерации»</strong>.
        Именно поэтому часть информации на сайте находится в свободном доступе,
        а часть может быть доступна родственникам или наследникам упоминаемого человека при обращении
        в Государственный архив Хабаровского края в соответствии законодательством Российской Федерации.
      </p>
      <p>
        Проект реализован с использованием гранта Президента Российской Федерации на развитие гражданского
        общества, предоставленного Фондом президентских грантов.
      </p>
    </div>
  </div>
</section>