<!-- main/rules -->
<%
const staticPrefix = `${module}/vov/`;
%>
<section id="rules" class="rules">
  <div class="container">
    <div class="page-header no-margin text-center">
      <h2>КАК ИСКАТЬ</h2>
      <div class="title-marker"></div>
    </div>
    <div class="row">
      <div class="col-md-4 feature-center">
        <div class="rule-item">
          <div class="rule-icon rule-icon-1"></div>
          <h3>ШАГ 1</h3>
          <h4>Внесите имеющеюся информацию о человеке</h4>
          <p>
            Чем полнее запрос, тем точнее ответ.
            Обязательно заполнение минимум двух полей.
          </p>
        </div>
      </div>

      <div class="col-md-4 feature-center">
        <div class="rule-item">
          <div class="rule-icon rule-icon-2"></div>
          <h3>ШАГ 2</h3>
          <h4>Отсмотрите полученные результаты</h4>
          <p class="rule-bullet rule-bullet-1">
            информация, с которой можно ознакомиться на сайте.
          </p>
          <p class="rule-bullet rule-bullet-2">
            в настоящий момент информация может быть предоставлена родственникам
            при обращении в
            <a href="#" target="_blank">Государственный архив Хабаровского края</a>
            в соответствии с правилами архива.
          </p>
        </div>
      </div>

      <div class="col-md-4 feature-center">
        <div class="rule-item">
          <div class="rule-icon rule-icon-3"></div>
          <h3>ШАГ 3</h3>
          <h4>Не получено подходящего ответа? Измените запрос</h4>
          <p>Попробуйте указать меньше информации, подумайте о том, могли ли при написании данных быть какие-то описки.</p>
          <p>К сожалению, часть данных могла быть утрачена.</p>
        </div>
      </div>

    </div>
  </div>
</section>