<%
const staticPrefix = `${module}/vov/`;
%>
<div class="detail">

  <h1>Информация из донесения о безвозвратных потерях</h1>

  <div class="form form-horizontal">

    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label">Фамилия</label>
      </div>
      <div class="col-sm-8">
        <p class="form-control-static">
          Степко
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label">Имя</label>
      </div>
      <div class="col-sm-8">
        <p class="form-control-static">
          Олег
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label">Отчество</label>
      </div>
      <div class="col-sm-8">
        <p class="form-control-static">
          Николаевич
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label">Дата рождения</label>
      </div>
      <div class="col-sm-8">
        <p class="form-control-static">
          __.__1912
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label">Место рождения</label>
      </div>
      <div class="col-sm-8">
        <p class="form-control-static">
          Полтавская область, Лохвитский район
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label">Дата и место призыва</label>
      </div>
      <div class="col-sm-8">
        <p class="form-control-static">
          в/ч 4165 27 В 56 ОПС
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label">Воинское звание</label>
      </div>
      <div class="col-sm-8">
        <p class="form-control-static">
          красноармеец
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label">Причина выбытия</label>
      </div>
      <div class="col-sm-8">
        <p class="form-control-static">
          пропал без вести
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label">Место выбытия</label>
      </div>
      <div class="col-sm-8">
        <p class="form-control-static">
          Лениградская область, Моловтицкий район, с. Молотвик
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label">Название источника информации</label>
      </div>
      <div class="col-sm-8">
        <p class="form-control-static">
          ЦАМО
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label">Документ</label>
      </div>
      <div class="col-sm-8">
        <p class="form-control-static">
          <a href="#" target="_blank">Ссылка на скачивание</a>
        </p>
      </div>
    </div>

  </div>
</div>